---
const { title } = Astro.props;
import "../styles/globals.css";
---

<html lang="en" class="">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <meta
            name="description"
            content="Benedict Pabatao is an experienced full-stack engineer specializing in web development and cloud infrastructures."
        />
        <meta name="author" content="Benedict Pabatao" />
        <meta
            name="keywords"
            content="Benedict Pabatao, Ben Pabatao, bpabatao, Full-stack Developer, full-stack, web development, back-end development, front-end development, cloud infrastructures, AWS"
        />
        <meta
            property="og:title"
            content="Benedict Pabatao - Senior Full-stack Software Engineer"
        />
        <meta property="og:url" content="https://bpabatao.github.io/" />
        <meta property="og:image" content="/ogimage.png" />
        <meta
            property="og:description"
            content="Benedict Pabatao is an experienced full-stack engineer specializing in web development and cloud infrastructures."
        />
        <meta property="og:type" content="website" />
        <meta property="og:site_name" content="Benedict Pabatao - Senior Full-stack Software Engineer" />
        <meta property="og:locale" content="en_US" />
        <link rel="canonical" href="https://bpabatao.github.io/" />
        <title>{title}</title>
        <script type="application/ld+json">
            {
                "@context": "https://schema.org",
                "@type": "Person",
                "name": "Benedict Pabatao",
                "url": "https://bpabatao.github.io",
                "sameAs": [
                    "https://www.linkedin.com/in/benedict-pabatao",
                    "https://github.com/bpabatao",
                ],
                "jobTitle": "Senior Full-stack Software Engineer",
                "worksFor": {
                    "@type": "Organization",
                    "name": "ESC Partners"
                },
                "alumniOf": {
                    "@type": "CollegeOrUniversity",
                    "name": "Polytechnic University of the Philippines"
                }
            }
            </script>
    </head>
    <body class="bg-light-fondo-primary dark:bg-dark-fondo-primary">
        <slot />
        <script>
            const darkThemeMq = window.matchMedia(
                "(prefers-color-scheme: )"
            );
            if (darkThemeMq.matches) {
                document.body.classList.add("dark");
                document.documentElement.classList.add("dark");
            } else {
                document.body.classList.remove("dark");
                document.documentElement.classList.remove("dark");
            }
        </script>
    </body>
</html>
